* {
    box-sizing: border-box;
  }

.projects-main {
  position: fixed;
  top:5%;
  left:36%;
      padding: 20px;
    display: flex;  
  flex-wrap:wrap;
  
  display: block
}
.project-2-text {
  position: relative;
  width:100%;
  
}





.card-1 {
  padding: 5px;
  margin:20px;
  margin-bottom: 40px;
  background-color:rgb(18, 72, 110);
  padding:10px;
  width:200px;
  height:200px;
  font-size: 8px;
  transition:1s;
}
.card-2 {
  
  padding: 5px;
  margin:20px;
  margin-bottom: 40px;
  background-color:rgb(18, 72, 110);
  padding:10px;
  width:200px;
  height:200px;
  font-size: 8px;
  transition:1s;
  overflow:hidden;
}
.card-3 {
  padding: 5px;
  margin:20px;
  margin-bottom: 40px;
  background-color:rgb(18, 72, 110);
  padding:10px;
  width:200px;
  height:200px;
  font-size: 8px;
  transition:1s;
}

.card-1:hover {
  width:600px;
  margin-left:-150px;
  height:400px;
  font-size: 16px;
}
.card-2:hover {
  width:600px;
  margin-left:-150px;
  height:400px;
  font-size: 16px;
  
  
}
.card-3:hover {
  width:600px;
  margin-left:-150px;
  height:400px;
  font-size: 16px;
}