.App-router{
  position: fixed;
  top:0%;
  left: 30%;
  
}
a {
  color: rgb(29,161,242);
  text-decoration: none;
}

a:visited {
  color: rgb(29,161,242);
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}
a:active {
  color: rgb(0, 116, 189);
  text-decoration: underline;
}
.App-nav {
  position: fixed;
  width: 100%;
  margin:12px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}
.App-title {
  margin:10px;
  color:#fff;
  font-size: 30px;
  font-weight: 600;
}
.App-main {
  font-family: 'Ubuntu', sans-serif;
}
.App-links{
  position:fixed;
  top:1%;
  right:3%;
}

.img_link {
 
  border-radius: 0%;
}
.App-footer {
  position: absolute;
  bottom: 1%;
  right: 1%;
}

